<sees-lib-search-bar-button
  buttonText="Add New Team"
  (openModalEvent)="openModal()"
  (searchEvent)="onLoadAndSearch($event)"
></sees-lib-search-bar-button>
<sees-lib-tables
  [data]="teamData().players"
  [columns]="columns()"
  description="List of Teams"
  [currentPage]="currentPage()"
  (deleteEvent)="onDelete($event)"
  (editEvent)="onEdit($event)"
  [totalRowsCount]="teamData().totalRowsCount"
  (pageChange)="loadPerPage($event)"
></sees-lib-tables>
<sees-app-add-team
  *ngIf="isAddShowModal()"
  [currentPage]="currentPage()"
  (cancelEvent)="onCancel()"
></sees-app-add-team>
<sees-app-edit-team
  *ngIf="isEditShowModal()"
  [team]="selectedTeam()"
  [currentPage]="currentPage()"
  (cancelEvent)="onCancelEdit()"
  (saveEvent)="onSaveEdit()"
></sees-app-edit-team>
