<sees-lib-search-bar-button
  buttonText="Add New Sport"
  (openModalEvent)="openModal()"
  (searchEvent)="onLoadAndSearch($event)"
></sees-lib-search-bar-button>
<sees-lib-tables
  [data]="sportData().players"
  [columns]="columns()"
  description="List of Sports"
  [currentPage]="currentPage()"
  (deleteEvent)="onDelete($event)"
  (editEvent)="onEdit($event)"
  [totalRowsCount]="sportData().totalRowsCount"
  (pageChange)="loadPerPage($event)"
></sees-lib-tables>
<sees-app-add-sports
  *ngIf="isAddShowModal()"
  (cancelEvent)="onCancel()"
></sees-app-add-sports>
<sees-app-edit-sports
  *ngIf="isEditShowModal()"
  [sport]="selectedSport()"
  [currentPage]="currentPage()"
  (cancelEvent)="onCancelEdit()"
></sees-app-edit-sports>
